# All
.idea

# Api
src/TeamProjectA.Api/obj
src/TeamProjectA.Api/bin
src/TeamProjectA.Api/wwwroot/**

# Infrastructure
src/TeamProjectA.Infrastructure/obj
src/TeamProjectA.Infrastructure/bin

# Application
src/TeamProjectA.Application/obj
src/TeamProjectA.Application/bin

# Domain
src/TeamProjectA.Domain/obj
src/TeamProjectA.Domain/bin

# Test
tests/TeamProjectA.Tests/obj
tests/TeamProjectA.Tests/bin

# Web
src/TeamProjectA.Web/node_modules
src/TeamProjectA.Web/build